body 
{
background-image:url("trainback2.jpg");
background-size:cover;
background-position:center;
margin:0;
height:100vh;
}
p{
text-align:left;
}
h1{
text-align:center;
color:#800000;
font-size:35px;
}
h2
{
text-align:center;
color:purple;
}
pre{
text-align:left;
font-size:20px;
}
button{
background-color:orange;
color:white;
padding:10px;
border:none;
cursor:pointer;
}
div{
text-align:center;
padding:50px;
font-size:40px;color:Purple;
word-spacing:15px;
}
h4
{
text-align:right;
}